{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4 shadow-lg" style="width: 320px; border-radius: 15px;">
        <h4 class="text-center mb-3">Register</h4>
        <form method="post">
            {% csrf_token %}
            <div class="mb-2">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="mb-2">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password }}
            </div>
            <button type="submit" class="btn btn-success w-100" style="margin-bottom: 5px;">Register</button>
        </form>
        <a class="btn btn-success w-100" href="{% url 'accounts:login-user' %}">Login</a>
    </div>
</div>
{% endblock %}
